{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object"],
        "newlines-between": "always",
        "alphabetize": {"order": "asc", "caseInsensitive": true}
      }
    ]
  }
}
